/**----------------------------------------------------------importing fonts-------------------------------------------------------**/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Brittany+Signature&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Schoolbell&v1");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/**--------------------------------------------------------------basics-----------------------------------------------------------**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  white-space: nowrap;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: rgb(215, 74, 74);
  padding: 20px;
  display: flex; /* Use flexbox for layout control */
  justify-content: space-between; /* Spread elements horizontally */
  align-items: center; /* Center elements vertically */
}



/**---------------------------------------------------------background-----------------------------------------------------------**/

.hero {
  width: 100%;
  height: 100%;
  background-color: #121212;
  animation: anim 2.5 infinite ease-in-out; 
  background-size: cover;
}

@keyframes anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}



/**--------------------------------------------------------logo-------------------------------------------------------------**/



.sign {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  padding: 3% 5%;
  font-family: 'Pacifico', cursive;;
  
  font-weight: 2;
  font-size: 1.8em;
  color: rgb(130, 123, 110);
  margin-bottom: 0;
}


/**----------------------------------------------------------navigation------------------------------------------------------**/

.hehe {
  position: fixed;
  z-index: 1;
}


nav {
  overflow: hidden;
  padding: 10px 220px;
  font-size: 1.2rem;
  text-transform: uppercase;
  align-items: center;
}

nav ul li {
  z-index: 10;
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
}
nav ul li a {
  color: #cfb5c1;
  position: relative;
  padding: 5px 0;
  margin-bottom: 0;
}
nav ul li a:hover {
  color: whitesmoke;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #ffff00;
  transition: 0.4s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}



/**-----------------------------------------------------button cv and mail----------------------------------------------------------**/

.btn {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 23px;
  border-radius: 50px;
  display: inline-block;
  
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 12% 10%;
  background: #818d92;
  border: 2px solid #7f8e94;
}
.btn:hover {
  background: transparent;
  border-color: #818d92;
  color: #8da0a8;
}




/**----------------------------------------------------------welcome note----------------------------------------------------------**/

.ml5 {
  position: relative;
  padding-left: 260px;
  font-weight: 300;
  font-size: 4.5em;
  color: #f1bf98;
  top: 15%;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 105%;
  background-color: #f1bf98;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-weight: 400;
  width: 3em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}



/*------------------------------------arrow---------------------*/

#arrowAnim {
  display: flex;
  right: 100px;
  
}

.arrow {
  width: 1vw;
  height: 5vw;
  border: 2.5vw solid;
  border-color: #342c34 transparent transparent #342c34;
  transform: rotate(-135deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-15vw);
  }
  20% {
    opacity: 1;
    transform: translateY(-9vw);
  }
  80% {
    opacity: 1;
    transform: translateY(9vw);
  }
  100% {
    opacity: 0;
    transform: translateY(15vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-15vw);
  }
  20% {
    opacity: 1;
    transform: translateY(-9vw);
  }
  80% {
    opacity: 1;
    transform: translateY(9vw);
  }
  100% {
    opacity: 0;
    transform: translateY(15vw);
  }
}

/**------------------------------------------------------Home content--------------------------------------------------------**/

.content {
  position: relative;
  z-index: 0;
  display: inline-block;
  top: 50%;
  left: 8%;
}
.content .title {
  text-transform: uppercase;
  font-size: x-large;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #211bd2 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #1f1f25;
  font-size: 68px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 90%;
}
.content h1 span {
  color: #f6acad;
  text-decoration: underline;
  text-decoration-color: #9fe2bf;
  font-family: "AlgerianRegular";
}
.content p {
  width: 55%;
  color: #889bae;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}

/*----------------------------------------------------About----------------------------------------------------------------*/

.about-wrapper {
  height: 80vh;
  position: relative;
}
.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  height: 80vh;
  color: #fff;
}
.about-left-content > div {
  text-align: center;
}

.about-left-content h2 {
  font-size: 2rem;
  margin: 1rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #9d95a0;
}
.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 0 0 12px 12px;
}
.icons li {
  list-style-type: none;
  background: #b721ff;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li:hover {
  background: #edffec;
  color: #000;
}

.about-right {
  height: 68vh;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  text-align: center;
  color: #e1d2d2;
}
.about-right h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.about-right h1 span {
  color: #b721ff;
}
.about-right h2 {
  font-weight: 500;
}
.about-btns {
  display: flex;
  margin: 2rem 0;
}

.btn.btn-pink {
  background: #6185c8;
  color: #000000;
  border-color: #6185c8;
  transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover {
  background: transparent;
  border-color: #b721ff;
  color: #b721ff;
}
.btn.btn-white {
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover {
  background: transparent;
  border-color: #7f8e94;
  color: #7f8e94;
}
.about-para p {
  font-weight: 400;
  padding: 0.5rem;
  opacity: 0.8;
  color: rgb(144, 164, 164);
}

@media screen and (min-width: 992px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .about-left {
    position: relative;
  }
  .about-left-content {
    position: relative;
    width: 80%;
  }
}
.credit {
  text-align: center;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.credit a {
  text-decoration: none;
  color: #b721ff;
  font-weight: bold;
}

/*----------------------------------------------------Skills----------------------------------------------------------------*/

svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #ffa5d8;
  font-size: 70px;
  font-weight: 700;
  stroke-width: 3;

  animation: textAnimate 3s infinite alternate, textAnimateDelay 3s infinite;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 1%;
    fill: hsl(189, 68%, 75%);
  }

  100% {
    stroke-dasharray: 30% 0;
    stroke-dashoffstet: -10%;
    fill: hsla(19, 8%, 5%, 0%);
  }
}

foot {
  font-size: x-large;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}







.cardse-wrapper {
  margin: 0 auto;
  max-width: 2000px; /* Adjust the maximum width as needed */
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Vertically center the cards */
  margin-bottom: 30px;
  justify-content: center;
  border-radius: 10px;
  
}

.cardse-wrapper .cardse-wrapper {
  flex: 0 0 calc(33.33% - 10px); /* To limit to 3 in each row with spacing */
}

.cardse {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Adjust the max width of each card */
  margin: 10px;
  border: 1px solid #141212;
  border-radius: 10px;
  overflow: hidden;
  min-height: 400px;
  height: 100px;
}

.cardse-img-wrapper img {
  width: 100%;
  height: auto;
  transition: transform 1.5s ease, opacity 0.5s ease;
  object-fit: contain; 
}


.cardse-image .cardse .cardse-img-wrapper {
  height: 100%;
}
.cardse-image .cardse .cardse-body {
  display: none;
}
.cardse-image-title-description .cardse .cardse-img-wrapper {
  max-height: 160px;
}
.cardse-image-title-description .cardse {
  position: relative;
  min-height: 300px;
}
.cardse-image-title-description .cardse .cardse-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: 40px;
}

.cardse-image-title-description .cardse .cardse-body .cardse-title {
  margin-bottom: .5rem;
}

.cardse:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}
.cardse-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}
.cardse-img-wrapper img {
  transition: 1.5s ease;
}
.cardse:hover .cardse-img-wrapper img {
  transform: scale(1.15);
}
.cardse-body .cardse-title {
  margin-bottom: calc(50% + 10px);
  transition: 1.5s ease;
}
.cardse:hover .cardse-body .cardse-title {
  margin-bottom: .75rem;
}

.cardse-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57.5%;
  background-color: #121212;
  transition: 1.5s ease;
  color: #6a737b;
}
.cardse-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;
}
.cardse:hover .cardse-body {
  height: 83%;
}
.cardse:hover .cardse-content {
  bottom: 0;
}

.cardse-text{
  font-size: 18px;
}




.cardse-description {
  display: block; /* Initially visible */
  transition: opacity 0.5s ease;
  overflow: hidden;
}

.cardse:hover .cardse-description {
  opacity: 0; /* Disappear on hover */
}























/*--------------------------------------------------------project------------------------------------------------*/

.cut-text {
  position: relative;
  text-transform: uppercase;
  font-size: 100px;
  color: transparent;
  font-weight: 900;
  font-family: "Catamaran", sans-serif;
  font-style: italic;
  text-align: center; /* Add this line to center-align the text */

}

.cut-text:after {
  content: "Projects"; /* Replace with the actual text you want */
  position: absolute;
  left: 50%; /* Center horizontally */
  top: -2px;
  transform: translateX(-50%); /* Adjust to center the element */
  color: rgb(245, 193, 193);
  clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
}

.cut-text:before {
  content: "Projects"; /* Replace with the actual text you want */
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center the element */
  color: rgb(242, 207, 207);
  clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 450px;
  height: 300px;
  background: linear-gradient(135deg, #1b1a18, #151514);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(212, 203, 203, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.contentp {
  padding: 20px;
  color: #fff;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 35px;
}

p {
  margin-top: 10px;
  font-size: 20px;
}





















.box{
  font-family: 'Spartan', sans-serif;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.box:before{
  content: "";
  background: repeating-linear-gradient(to right, transparent,transparent 10px, #fff 10px,#fff 20px);
  width: 0;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%) scale(1.7) rotate(45deg);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transition: all 0.3s ease-out;
}
.box:hover:before{
  width: 100%;
  opacity: 0.2;
  transform: translateX(-50%) scale(1) rotate(0);
}
.box img{
  width: 100%;
  height: auto;
  transition: all 0.4s ease-out;
}
.box:hover img{ filter: blur(5px); }
.box .box-content{
  color: #fff;
  background: linear-gradient(#FF416C,#FF4B2B);
  text-align: center;
  width: 250px;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,0.7);
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(2);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transition: all 0.4s ease-out;
}
.box:hover .box-content{
  opacity: 0.85;
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.box .title{
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 2px;
}
.box .post{
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
  display: block;
}
.box .icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.box .icon li{
  display: inline-block;
  margin: 0 4px;
}
.box .icon li a{
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  height: 30px;
  width: 30px;
  border: 2px dashed #fff;
  display: block;
  transition: all 0.3s ease 0s;
}
.box .icon li a:hover{ border-radius: 15px; }
@media only screen and (max-width:990px){
  .box { margin: 0 0 30px; }
}
















/*--------------------------------------------------------achivements----------------------------------------------------*/

.waviy {
 position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2.8s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.containerach {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: #121212;
  box-shadow: 0 8px 16px rgba(192, 206, 202, 0.1);
  border: 1.4px solid #ccc;
  border-radius: 15px; /* Set the desired border radius */
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 300px;
  margin: 10px;
}


.box h1 {
  margin-top: 0;
  font-size: 30px;
  color: #4b4444;
}

.box p {
  margin-bottom: 0;
  font-size: 20px;
  color: #adb2df;
}










/*-----------------------------------------------contact-------------------------------------------------- */




.contact-section {
  background-color: #292121;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.section-subheading {
  color: #bdc4d2;
  font-size: 1.15rem;
  margin-bottom: 3rem;
}

.contact-details {
  display: flex;
  justify-content: center;
}

.contact-item {
  margin: 0 1.5rem;
}

.contact-item i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-item p {
  font-size: 1.1rem;
}





